body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
  }
  
  #registerForm {
    display: none;
  }
  
  #logoutButton {
    margin-top: 20px;
  }
  